{% extends "layout.html" %}

{% block main %}
<div class="backdrop">
 <section class="hero">

    <div class="hero-overlay"></div>

    <div class="hero-content">

        <h1>SIMPLY ART. SIMPLY BEAUTIFUL.</h1>

        <p>
            For seventeen years, artists and buyers have trusted Pixistan
            to buy and sell art. Now find your perfect art.
        </p>

        <div class="search-box">

            <input type="text" placeholder="Enter Keywords">

            <select>
                <option>All Art</option>
                <option>Paintings</option>
                <option>Photography</option>
                <option>Digital Art</option>
            </select>

            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        </div>

    </div>

</section>

<section class="gallery">

    <h2 class="gallery-title">Featured Art</h2>

    <div class="masonry-grid">

        {% for art in artworks %}
        <div class="masonry-item">
            <div class="image-container">
                <img src="/static/uploads/{{ art.image }}" alt="{{ art.title }}">

                <div class="overlay">
                    <h3>{{ art.title }}</h3>
                    <p>{{ art.artist }}</p>
                    <span><i class="fa-solid fa-heart"></i> likes</span>
                    <p class="desc">{{ art.description }}</p>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</section>
</div>
{% endblock%}