<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <header>{% include "components/navbar.html" %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% include "components/footer.html" %}</footer>
    {% endblock %}
  </body>
  <script src="static/js/script.js"></script>
</html>
