<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <div class="auth-container">
      <div class="auth-card">
        <h2>Login to Pixistan</h2>
        <p class="subtitle">Login to your account</p>

        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="input-group">
            <input name="username" placeholder="Username or Email" required />
          </div>

          <div class="input-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <div class="options">
            <input type="checkbox" name="remember"> Remember Me
            <a href="{{ url_for('forgot') }}">Forgot Password?</a>
          </div>

          <button class="signinup" type="submit">Login</button>
          <a href="/login/google">Login with Google</a>
        </form>

        <p class="login-link">
          Don’t have an account? <a href="{{ url_for('register') }}">Sign Up</a>
        </p>
      </div>
    </div>
  </body>
</html>
