{% extends "layout.html" %}

{% block content %}

 <section class="profile-container">

  <!-- 🔹 Profile Header -->
  <div class="profile-header">

    <div class="profile-left">
      <div class="profile-pic">
        {% if user['profile_pic'] %}
          <img src="{{ url_for('static', filename='uploads/' ~ user['profile_pic']) }}">
        {% else %}
          <img src="{{ url_for('static', filename='uploads/acc.png') }}">
        {% endif %}
      </div>

      <div class="profile-info">
        <h2>{{ user['username'] }}</h2>
        <p class="subtitle">Artist • Creator</p>
        <p class="stats">
          {{ artworks|length }} Artworks
        </p>
      </div>
    </div>

    <!-- Upload Profile Picture -->
    <form method="POST" enctype="multipart/form-data" class="profile-form">
      <input type="file" name="profile_pic" required>
      <button class="update-btn" type="submit">Update Profile</button>
    </form>

  </div>

  <!-- 🔹 Divider -->
  <hr>

  <!-- 🔹 User Artworks -->
  <div class="profile-gallery">
    <h3>Your Artworks</h3>

    {% if artworks %}
      <div class="grid">
        {% for art in artworks %}
          <div class="card">
            <a href="{{ url_for('artwork', art_id=art['id']) }}">
            <img src="{{ url_for('static', filename='uploads/' ~ art['image']) }}">
          </a>
            <div class="card-info">
              <h4>{{ art['title'] }}</h4>
              <p>{{ art['artist'] }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
       <a href="/upload"><button class="btn-primary">Upload Art</button></a>
    {% endif %}
  </div>
</section>
{% endblock %}

